@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}